<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title><%=client.username%></title>
    <link
      rel="shortcut icon"
      href="<%=client.displayAvatarURL%>"
      type="image/x-icon"
    />
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet" />
  </head>

  <body>
    <%- include components/header.ejs %>
    <section class="commands">

      <div class="container">
          <div class="row">
              <div class="col-md-4 my-4">
                <h1>Categorias</h1>

                  <div id="list-modules" class="list-group menu">
                    <button class="cmd-btn-list cmd-btn-list-focus" id="command">Todos os comandos</button>

                    
                   
                    <% categories.forEach(category => { %>
                      
                      <button class="cmd-btn-list" id="<%= `${category}` %>"> <%= `${category}` %></button>
                    
                    <%});%>


                  </div>
              </div>
              <div class="col-md-8">
                  <div class="row">
                      <div class="col-12 pr-0 mt-4">
                        <h1>Comandos</h1>
                          <div class="form-group">
                              <input autocomplete="off" class="form-control cmd-input" id="search-input" type="text" placeholder="Pesquisar">
                          </div>
                      </div>
                      <div class="col-12 pr-0">
                              <div class="table-responsive">
                              <table id="table" class="table table-hover mb-0">
                                  <thead>
                                      <tr>
                                          <th scope="col">Nome</th>
                                          <th scope="col">Categoria</th>
                                          <th scope="col">Descrição</th>
                                          <th scope="col">Uso</th>
                                      </tr>
                                  </thead>
                                  <tbody>
                                    <% commands.forEach((command) => { %>
                                      <tr class="command <%= `${command.help.category}` %>">
                                          <td class="name" scope="row"><%= `${command.help.name}` %></td>
                                          <td><%= `${command.help.category || ''}` %></td>
                                          <td><%= `${command.help.description || ''}` %></td>
                                          <td><%= `${command.help.usage || ''}` %></td>
                                      </tr>
                                      <%});%>
                                      <tr id="notfound"  style="display: none;">
                                          <td align="center" colspan="4">Comando não encontrado</td>
                                      </tr>
                                  </tbody>
                              </table>
                              </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <%- include components/footer.ejs %>

  </body>
</html>
