
  <!-- <div id="cursorBlob"></div> -->

  <%- include components/header.ejs %>
  <section>
    <div class="container" style="height: 100vh;">
      <div class="title" style="text-align: center;">
        <img class="img-fluid useravatar rounded-circle"
          src="https://cdn.discordapp.com/avatars/<%=user.id%>/<%=user.avatar%>.png?size=512%>" width="200px"
          height="200px" alt="" />
        <h1 class="username">
          <%= `${user.username}#${user.discriminator}` %>
        </h1>
      </div>
    </div>

    <% if (!userInfo) { %> 
      <div class="container" style="height: 100vh">
        <section class="servers">
          <h1>Lista de servidores</h1>
          <div class="guild-container">
            <ul class="serv-container">
              <div class="row">
                <% guilds.forEach((guild) => { %>
                <a href="/servers/<%= guild.id %>">
                  <% if (guild.icon) { %>
                  <li data-tooltip="<%= guild.name %>" class="serv-info" title="<%= guild.name %>">
                    <img src="https://cdn.discordapp.com/icons/<%= guild.id %>/<%= guild.icon %>.png?size=2048"
                      class="guild-icon img-fluid" />
                  </li>
                  <% } else { %>
                  <li data-tooltip="<%= guild.name %>" class="serv-noname">
                    <canvas class="guild-icon img-fluid" style="height: inherit;position: relative;
                          top: 35px;
                          left: 30px;"
                      id="<%= guild.name.replace(/\w+/g, name => name[0]).replace(/\s/g, '') %>"></canvas>

                    <script>
                      function createIcone() {
                        const nameAcronym = document
                          .getElementById(
                            "<%= guild.name.replace(/\w+/g, name => name[0]).replace(/\s/g, '')  %>"
                          )
                          .getContext('2d');
                        nameAcronym.font =
                          '100px Arial';
                        nameAcronym.fillStyle =
                          '#181818';
                        nameAcronym.fillText(
                          "<%= guild.name.replace(/\w+/g, name => name[0]).replace(/\s/g, '')  %>",
                          25,
                          35
                        );
                      }
                      createIcone();
                    </script>
                  </li>
                  <%}%>
                                      </a>

                                      <%});%>
              </div>
            </ul>
          </div>
        </section>
      </div>
      
      <% } else {%>
    <div class="container" style="height: 100vh">
      <section class="servers">
        <div class="row">
          <div class="col-md-4">
            <h1>Informações</h1>
            <div class="info-container">
              <div class="info">
                <img class="img-fluid rounded-circle"
                  src="https://cdn.discordapp.com/avatars/<%=user.id%>/<%=user.avatar%>.png?size=512%>" alt="" />
                <h3>
                  <%=
                                        `${user.username}#${user.discriminator}`
                                        %>
                </h3>
              </div>
              <ul>
                <li>
                  <strong>ID: </strong><%= `${user.id}` %>
                </li>
                <li>
                  <strong>Money: </strong><%=
                                        `${userInfo.coins}` %>
                </li>
                <li>
                  <strong>Level: </strong><%=
                                        `${userInfo.level}` %>
                </li>
                <li>
                  <strong>XP: </strong><%=
                                        `${userInfo.xp}` %>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-8">
            <h1>Lista de servidores</h1>
            <div class="guild-container">
              <ul class="serv-container">
                <div class="row">
                  <% guilds.forEach((guild) => { %>
                  <a href="/servers/<%= guild.id %>">
                    <% if (guild.icon) { %>
                    <li data-tooltip="<%= guild.name %>" class="serv-info" title="<%= guild.name %>">
                      <img src="https://cdn.discordapp.com/icons/<%= guild.id %>/<%= guild.icon %>.png?size=2048"
                        class="guild-icon img-fluid" />
                    </li>
                    <% } else { %>
                    <li data-tooltip="<%= guild.name %>" class="serv-noname">
                      <canvas class="guild-icon img-fluid" style="height: inherit;position: relative;
                            top: 35px;
                            left: 30px;"
                        id="<%= guild.name.replace(/\w+/g, name => name[0]).replace(/\s/g, '') %>"></canvas>

                      <script>
                        function createIcone() {
                          const nameAcronym = document
                            .getElementById(
                              "<%= guild.name.replace(/\w+/g, name => name[0]).replace(/\s/g, '')  %>"
                            )
                            .getContext('2d');
                          nameAcronym.font =
                            '100px Arial';
                          nameAcronym.fillStyle =
                            '#181818';
                          nameAcronym.fillText(
                            "<%= guild.name.replace(/\w+/g, name => name[0]).replace(/\s/g, '')  %>",
                            25,
                            35
                          );
                        }
                        createIcone();
                      </script>
                    </li>
                    <%}%>
                                        </a>

                                        <%});%>
                </div>
              </ul>
            </div>
          </div>
        </div>
      </section>
    </div>
    <% } %>
  </section>

 

  <%- include components/footer.ejs %>
